* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header,
footer {
    width: 100%;
    height: 60px;
    background-color: rgb(98, 165, 98);
    color: white;
    font-weight: bold;
}

header .time {
    font-size: 11px;
    text-align: center;
}

header .friend {
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header .back {
    position: absolute;
    top: 28px;
    left: 18px;
}

.searchBox {
    width: 100%;
    height: 70px;
    background-color: #ccc;
    text-align: center;
    position: relative;
}

.searchBox input {
    width: 80%;
    margin: 15px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}

/* ------------ contents ------------------- */
.chatList {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    
}

.chatList .chat{
 
    border-bottom: 1px solid #eee;
    display: flex;
}


.chatList .chatImg{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.chatList .chatText {
    width: calc(100% - 80px - 20px);
    flex-grow: 1;
    display: flex;
    padding-top: 10px;
    color: black;
}
.chatList .chatText p {
    flex-grow: 8;  
}
.chatList .chatTime {
    flex-grow: 2;
    font-size: 13px;
    color: grey;
    /* margin-left: 200px; */
}


/* -----------  footer  ----------- */
footer {
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: rgb(158, 182, 158);
}

footer li {
    width: 25%;
    margin-top: 5px;
    text-align: center;
    float: left;
}

footer li p {
    font-size: 12px;
}

footer li i {
    font-size: 30px;
}